In [177]:
import pandas as pd

In [178]:
df = pd.read_excel('BT_data.xlsx')

In [179]:
# data cleaning: Eliminating unused columns, Dealing with Missing Values, Split the dataset into training and test set.

In [180]:
df # 23869 rows Ã— 12 columns

,Client Grouping1,Customer Group,Requested Mode,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #,Avg. Weekly Frequency
0,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088,0
1,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953,0
2,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144,0
3,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973,0
4,Corporate,3M Canada Company,ROAD,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23864,Spot,Traffic Tech,ROAD,Standard,DRY,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727,0
23865,Spot,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001,0
23866,Spot,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978,0
23867,Spot,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019,0
23868,Spot,WALHOM04 - WALMART FREIGHT PAY,ROAD,Standard,DRY,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471,0

In [181]:
# find cells with NaN,e.g., empty cells.
df[df.isna().any(axis=1)]
# 381 rows Ã— 12 columns
# How are we going to deal with the empty cells?
# levae it for discussion

,Client Grouping1,Customer Group,Requested Mode,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #,Avg. Weekly Frequency
2940,Corporate,Canadian Kraft Paper ( Formerly Premium 1),ROAD,Standard,DRY,MB2N,NaN,"THE PAS,MB/ to MARIEVILLE,PQ/",2020-05-25,2020-05-28,4168234,0
2941,Corporate,Canadian Kraft Paper ( Formerly Premium 1),ROAD,Standard,DRY,MB2N,NaN,"THE PAS,MB/ to MARIEVILLE,PQ/",2020-05-25,2020-05-29,4168235,0
2942,Corporate,Canadian Kraft Paper ( Formerly Premium 1),ROAD,Standard,DRY,MB2N,NaN,"THE PAS,MB/ to MARIEVILLE,PQ/",2020-05-26,2020-05-29,4168229,0
2943,Corporate,Canadian Kraft Paper ( Formerly Premium 1),ROAD,Standard,DRY,MB2N,NaN,"THE PAS,MB/ to MARIEVILLE,PQ/",2020-05-28,2020-06-03,4171387,0
2944,Corporate,Canadian Kraft Paper ( Formerly Premium 1),ROAD,Standard,DRY,MB2N,NaN,"THE PAS,MB/ to MARIEVILLE,PQ/",2020-06-11,2020-06-19,4187464,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23850,Spot,Traffic Tech,ROAD,Expedited,DRY,NaN,MB2WIN,"POINTE CLAIRE,PQ/ to WINNIPEG,MB/",2020-08-18,2020-08-20,4216829,0
23851,Spot,Traffic Tech,ROAD,Expedited,DRY,NaN,MB2WIN,"POINTE CLAIRE,PQ/ to WINNIPEG,MB/",2020-09-01,2020-09-03,4256100,0
23852,Spot,Traffic Tech,ROAD,Expedited,DRY,NaN,MB2WIN,"POINTE CLAIRE,PQ/ to WINNIPEG,MB/",2020-10-13,2020-10-15,4282566,0
23853,Spot,Traffic Tech,ROAD,Expedited,DRY,NaN,MB2WIN,"POINTE CLAIRE,PQ/ to WINNIPEG,MB/",2020-10-27,2020-10-29,4282569,0
23854,Spot,Traffic Tech,ROAD,Expedited,DRY,NaN,MB2WIN,"POINTE CLAIRE,PQ/ to WINNIPEG,MB/",2020-11-10,2020-11-12,4282574,0

In [182]:
df['Avg. Weekly Frequency'].value_counts()

0    23869
Name: Avg. Weekly Frequency, dtype: int64

In [183]:
df.drop('Avg. Weekly Frequency', inplace=True, axis=1)
df # 23869 rows Ã— 11 columns

,Client Grouping1,Customer Group,Requested Mode,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,Corporate,3M Canada Company,ROAD,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...,...,...,...,...,...
23864,Spot,Traffic Tech,ROAD,Standard,DRY,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,Spot,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,Spot,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,Spot,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,Spot,WALHOM04 - WALMART FREIGHT PAY,ROAD,Standard,DRY,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [184]:
df['Requested Trailer Class'].value_counts() #Maybe useful

DRY         16584
REEFER       6149
HEATER       1007
M-REEFER      129
Name: Requested Trailer Class, dtype: int64

In [185]:
df['Client Grouping1'].value_counts()

Corporate    23125
Spot           744
Name: Client Grouping1, dtype: int64

In [186]:
df['Customer Group'].value_counts() # looks like we not gona use these two columns

General Mills                       3473
Canada Post Corp.                   1951
Purolator Canada                     952
Danone Canada                        952
Baxter % Kuehne & Nagel              882
                                    ...
McKesson Canada                        1
EXPWAU - EXPRESS LOGISTICS, INC.       1
Canada Bread/ Groupo Bimbo             1
VSS Logistics, Inc                     1
GUIQUE01 - GUILBAULT LOGISTIQUE        1
Name: Customer Group, Length: 390, dtype: int64

In [187]:
df.drop('Client Grouping1', inplace=True, axis=1)
df # 23869 rows Ã— 10 columns

,Customer Group,Requested Mode,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,3M Canada Company,ROAD,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...,...,...,...,...
23864,Traffic Tech,ROAD,Standard,DRY,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,Traffic Tech,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,WALHOM04 - WALMART FREIGHT PAY,ROAD,Standard,DRY,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [188]:
df.drop('Customer Group', inplace=True, axis=1)
df # 23869 rows Ã— 9 columns

,Requested Mode,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,ROAD,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...,...,...,...
23864,ROAD,Standard,DRY,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,ROAD,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,ROAD,Standard,DRY,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [189]:
df['Requested Mode'].value_counts()

ROAD    23869
Name: Requested Mode, dtype: int64

In [190]:
df.drop('Requested Mode', inplace=True, axis=1)
df # 23869 rows Ã— 8 columns

,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...,...,...
23864,Standard,DRY,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,Standard,DRY,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [191]:
# any relations b/w Priority and Requested Trailer Class?

In [192]:
df['Priority'].value_counts()

Standard     20220
Expedited     3649
Name: Priority, dtype: int64

In [193]:
df['Requested Trailer Class'].value_counts()

DRY         16584
REEFER       6149
HEATER       1007
M-REEFER      129
Name: Requested Trailer Class, dtype: int64

In [194]:
df1 = df[df.Priority == 'Expedited']
df1 # Expedited can be DRY, HEATER and else, so I guess there is not much relations b/w them. Drop them for now.

,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
195,Expedited,DRY,PQ2MON,ABNEDM,"ST LAURENT,PQ/IL to NISKU,AB/",2021-02-25,2021-03-02,4445859
196,Expedited,DRY,PQ2S,PQ2OTT,"GRANBY,PQ/ to NAVAN,ON/",2020-05-08,2020-05-09,4153063
197,Expedited,HEATER,PQ2MON,ABNEDM,"MONTREAL,PQ/ to NISKU,AB/",2020-10-01,2020-10-09,4297407
2174,Expedited,DRY,ABNEDM,PQ2MON,"EDMONTON,AB/ to DORVAL,PQ/",2019-12-04,2019-12-07,3985540
2175,Expedited,DRY,ABNEDM,PQ2MON,"EDMONTON,AB/ to DORVAL,PQ/",2019-12-04,2019-12-07,4013585
...,...,...,...,...,...,...,...,...
23859,Expedited,DRY,PQ2MON,MB2WIN,"POINTE CLAIRE,QC/ to WINNIPEG,MB/",2021-02-02,2021-02-04,4409019
23860,Expedited,DRY,PQ2MON,MB2WIN,"POINTE CLAIRE,QC/ to WINNIPEG,MB/",2021-03-02,2021-03-04,4409017
23861,Expedited,DRY,PQ2MON,MB2WIN,"POINTE CLAIRE,QC/ to WINNIPEG,MB/",2021-03-16,2021-03-18,4458935
23862,Expedited,DRY,PQ2MON,MB2WIN,"POINTE CLAIRE,QC/ to WINNIPEG,MB/",2021-03-30,2021-04-01,4458928
23863,Expedited,DRY,PQ2MON,MB2WIN,"POINTE CLAIRE,QC/ to WINNIPEG,MB/",2021-04-13,2021-04-15,4458920

In [195]:
df2 = df[df.Priority == 'Standard']
df2 # regarding the spending time, some Standard priority only takes 2 days, comparing to Expedited, they are even less. so drop these to columns

,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...,...,...
23864,Standard,DRY,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,Standard,REEFER,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,Standard,DRY,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [196]:
df.drop('Priority', inplace=True, axis=1)
df.drop('Requested Trailer Class', inplace=True, axis=1)
df # 23869 rows Ã— 6 columns

,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...
23864,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [197]:
# TODO: eliminate the Regions do not contain 'PQ', roughly 800 rows.(including NaN?)

In [198]:
df

,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...
23864,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [199]:
# order by start date? maybe the Order # is a better choice.

In [200]:
df_orderNum = df.sort_values(by=['Order #'])
df_orderNum.to_excel("BT_data_orderByOrder#.xlsx", sheet_name='BisonTransport_data')

In [201]:
df_startDate = df.sort_values(by=['Start Date']) # the dataset contains data from 2019-01-31(start date) to 2021-04-24(end date)
df_startDate.to_excel("BT_data_orderByStartDate.xlsx", sheet_name='BisonTransport_data')

In [213]:
# working with part of df_startDate for similicity
df_startDate_partical = df_startDate[df_startDate['Completion Date'] < pd.Timestamp(2019, 4, 1, 0)]# 2019 JAN to MAR
df_temp1 = df_startDate_partical['Start Date'].value_counts(sort=False)
df_temp1

2019-02-04     1
2019-03-21     8
2019-03-28    17
2019-03-25    30
2019-03-22    21
2019-03-29     9
2019-03-19     5
2019-03-26    29
2019-03-23     8
2019-03-30     4
2019-03-13     1
2019-03-20     4
2019-03-27    25
2019-01-31     1
2019-03-24     9
Name: Start Date, dtype: int64

In [214]:
df_temp2 = df_startDate_partical['Completion Date'].value_counts(sort=False)
df_temp2

2019-03-31    12
2019-03-28    33
2019-03-25    23
2019-03-29    26
2019-03-26    25
2019-03-30    13
2019-03-27    32
2019-03-24     8
Name: Completion Date, dtype: int64

In [216]:
df_temp_result = pd.concat([df_temp1, df_temp2],axis=1)
df_temp_result

            Start Date  Completion Date
2019-01-31         1.0              NaN
2019-02-04         1.0              NaN
2019-03-13         1.0              NaN
2019-03-19         5.0              NaN
2019-03-20         4.0              NaN
2019-03-21         8.0              NaN
2019-03-22        21.0              NaN
2019-03-23         8.0              NaN
2019-03-24         9.0              8.0
2019-03-25        30.0             23.0
2019-03-26        29.0             25.0
2019-03-27        25.0             32.0
2019-03-28        17.0             33.0
2019-03-29         9.0             26.0
2019-03-30         4.0             13.0
2019-03-31         NaN             12.0

In [130]:
# from 2019 Jan to Mar, how many incoming edges and outgoing edges, how inbalance it is?

In [ ]:
# until now, we reduced 6 columns, we can eliminate more rows with NaN value, or should leave it because they are valid freights.
#

In [165]:
df.to_excel("BT_data_clean.xlsx", sheet_name='BisonTransport_data')

In [158]:
df_time = df[df['Completion Date'] < pd.Timestamp(2019, 4, 1, 0)] # 2019 JAN to MAR, 172 rows Ã— 6 columns
df_time

,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
609,PQ2MON,USMEON,"MONTREAL,PQ/ to CLEVELAND,OH/",2019-03-26,2019-03-28,3761753
655,PQ2MON,USMEON,"MONTREAL,PQ/ to MT PLEASANT,PA/WE",2019-03-25,2019-03-27,3760318
781,SK2SAS,PQ2MON,"SASKATOON,SK/ to VARENNES,PQ/",2019-03-20,2019-03-26,3757038
782,SK2SAS,PQ2MON,"SASKATOON,SK/ to VARENNES,PQ/",2019-03-22,2019-03-28,3760863
783,SK2SAS,PQ2MON,"SASKATOON,SK/ to VARENNES,PQ/",2019-03-22,2019-03-29,3763756
...,...,...,...,...,...,...
23567,PQ2MON,BC2ISL,"ST LAURENT,PQ/IL to VICTORIA,BC/",2019-03-19,2019-03-25,3753211
23569,PQ2MON,MB2WIN,"ST LAURENT,PQ/IL to WINNIPEG,MB/",2019-03-27,2019-03-31,3771034
23605,PQ2MON,ABSCAL,"ST BRUNO DE MONTAR,PQ/ to BALZAC,AB/",2019-03-20,2019-03-27,3752468
23624,PQ2MON,USILCH,"MONTREAL NORD,PQ/ to ELWOOD,IL/",2019-03-26,2019-03-27,3762525
23637,PQ2MON,USMWMO,"LACHINE,PQ/ to GREENCASTLE,IN/",2019-03-25,2019-03-28,3763065

In [159]:
# how many incoming and outgoing edges?
df_outbound = df_time[df_time['Shipper Region3'].str.contains('PQ')] #, na=False
df_outbound['Shipper Region3'].value_counts()

PQ2MON    65
PQ2S       2
Name: Shipper Region3, dtype: int64

In [161]:
df_inbound = df_time[df_time['Consignee Region3'].str.contains('PQ', na=False)] #, na=False
df_inbound['Consignee Region3'].value_counts()

PQ2MON    99
PQ2S       1
Name: Consignee Region3, dtype: int64

In [162]:
# 167 total edges? where are those 172- 167 = 5 edges? null? and some could be both incoming and outgoing? could be more than 5.