In [189]:
import pandas as pd

In [190]:
df = pd.read_excel("PQ2MON - Orders - Weeks -1 to -109 (1).xls.xlsx")

In [191]:
df.head()

,Client Grouping1,Customer Group,Requested Mode,Priority,Requested Trailer Class,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #,Avg. Weekly Frequency
0,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088,0
1,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953,0
2,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144,0
3,Corporate,3M Canada Company,ROAD,Standard,DRY,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973,0
4,Corporate,3M Canada Company,ROAD,Standard,DRY,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936,0

# Cleaning Dataset

In [192]:
# Check if there is any empty cell
missing_data = df.isnull()

# Counting missing value (nan) in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print("missing:", missing_data[column].value_counts())
    print("")    
    
# Output: 360 nan(in Consignee col) and 21 nan (in Shipper Region3)

Client Grouping1
missing: False    23869
Name: Client Grouping1, dtype: int64

Customer Group
missing: False    23869
Name: Customer Group, dtype: int64

Requested Mode
missing: False    23869
Name: Requested Mode, dtype: int64

Priority
missing: False    23869
Name: Priority, dtype: int64

Requested Trailer Class
missing: False    23869
Name: Requested Trailer Class, dtype: int64

Shipper Region3
missing: False    23848
True        21
Name: Shipper Region3, dtype: int64

Consignee Region3
missing: False    23509
True       360
Name: Consignee Region3, dtype: int64

Lane ID - City to City
missing: False    23869
Name: Lane ID - City to City, dtype: int64

Start Date
missing: False    23869
Name: Start Date, dtype: int64

Completion Date
missing: False    23869
Name: Completion Date, dtype: int64

Order #
missing: False    23869
Name: Order #, dtype: int64

Avg. Weekly Frequency
missing: False    23869
Name: Avg. Weekly Frequency, dtype: int64

In [193]:
# "use-less" columns? All values = 0? Can be deleted
df["Avg. Weekly Frequency"].value_counts()

0    23869
Name: Avg. Weekly Frequency, dtype: int64

In [194]:
# This column seems "useless" too?
df["Requested Mode"].value_counts()

ROAD    23869
Name: Requested Mode, dtype: int64

In [195]:
# Does this feature have any effect on the problem? Seems no? Delete for now
df["Requested Trailer Class"].value_counts()

DRY         16584
REEFER       6149
HEATER       1007
M-REEFER      129
Name: Requested Trailer Class, dtype: int64

In [196]:
# Does this feature have any effect on the problem? Seems no? Delete for now
df["Client Grouping1"].value_counts()

Corporate    23125
Spot           744
Name: Client Grouping1, dtype: int64

In [197]:
# drop original column "Avg. Weekly Frequency" from "df"
df.drop("Avg. Weekly Frequency", axis = 1, inplace=True)

# drop original column "Requested Mode" from "df"
df.drop("Requested Mode", axis=1, inplace=True)

# drop original column "Requested Trailer Class" from "df"
df.drop("Requested Trailer Class", axis=1, inplace=True)

# drop original column "Client Grouping1" from "df"
df.drop("Client Grouping1", axis=1, inplace=True)

In [198]:
df["Customer Group"].value_counts()
# I do not find any useful idea to explore from this feature --> would delete this

General Mills                    3473
Canada Post Corp.                1951
Purolator Canada                  952
Danone Canada                     952
Baxter % Kuehne & Nagel           882
                                 ...
Sobeys Inc                          1
Mission Produce Inc                 1
Motherload Transport Services       1
AP International Inc                1
Whirlpool Corporation               1
Name: Customer Group, Length: 390, dtype: int64

In [199]:
# drop original column "Customer Group" from "df"
df.drop("Customer Group", axis = 1, inplace=True)

In [200]:
df["Priority"].value_counts() #might use it to prioritize which/what to deliver first?

Standard     20220
Expedited     3649
Name: Priority, dtype: int64

In [201]:
df.head()

,Priority,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,Standard,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936

In [202]:
df["Shipper Region3"].value_counts()

PQ2MON    10820
ON2TOR     3727
USEASE     1481
PQ2S        820
BC2VAN      624
          ...
ABNW          3
BC2INW        2
ON2E          2
USNWOR        1
BC2INE        1
Name: Shipper Region3, Length: 70, dtype: int64

In [203]:
df["Consignee Region3"].value_counts()

PQ2MON    10989
ON2TOR     1549
MB2WIN     1419
USILCH     1331
ABSCAL     1195
          ...
PQ2C          1
MB2ONW        1
BC2INE        1
USSWCC        1
USSWCS        1
Name: Consignee Region3, Length: 74, dtype: int64

In [204]:
# In this problem, we focus on only Quebec
sub_df = df[df['Shipper Region3'].str.contains("PQ", na=False)]
sub_df['Shipper Region3'].value_counts()

PQ2MON    10820
PQ2S        820
PQ2OTT       69
PQ2QUE       24
PQ2N          7
Name: Shipper Region3, dtype: int64

In [205]:
sub_dff = df[df['Consignee Region3'].str.contains("PQ", na=False)]
sub_dff['Consignee Region3'].value_counts()

PQ2MON    10989
PQ2S        518
PQ2OTT      333
PQ2QUE      192
PQ2N         11
PQ2C          1
Name: Consignee Region3, dtype: int64

In [206]:
df.shape

(23869, 7)

In [207]:
# so any outgoing and incoming edge that has nothing to do with PQ => delete that row
quebec_pattern = ['PQ2MON', 'PQ2S', 'PQ2OTT', 'PQ2QUE', 'PQ2N', 'PQ2C']
for i in range(23869):
    if df['Shipper Region3'][i] not in quebec_pattern and df['Consignee Region3'][i] not in quebec_pattern:
        df.drop(i, axis=0, inplace=True)

In [208]:
df

,Priority,Shipper Region3,Consignee Region3,Lane ID - City to City,Start Date,Completion Date,Order #
0,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-04-16,2019-04-18,3790088
1,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-05-07,2019-05-09,3810953
2,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-06-07,2019-06-10,3841144
3,Standard,ON2TOR,PQ2S,"MILTON,ON/ to DRUMMONDVILLE,PQ/",2019-07-09,2019-07-11,3869973
4,Standard,PQ2MON,USMWIA,"STE THERESE,PQ/TE to PRAIRIE DU CHIEN,WI/",2020-02-26,2020-03-02,4066936
...,...,...,...,...,...,...,...
23864,Standard,PQ2MON,BC2VAN,"ST LAURENT,PQ/IL to DELTA,BC/",2020-06-18,2020-06-22,4192727
23865,Standard,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-18,4074001
23866,Standard,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-12,2020-02-20,4073978
23867,Standard,PQ2MON,ABNEDM,"BOUCHERVILLE,PQ/ to EDMONTON,AB/",2020-02-13,2020-02-18,4074019
23868,Standard,PQ2MON,USSES,"MONTREAL NORD,PQ/ to DAVENPORT,FL/",2021-04-09,2021-04-13,4477471

In [209]:
# not neccessary since shipper region and consignee region already indicated that PQ is in.
df.drop("Lane ID - City to City", axis=1, inplace=True)

In [210]:
df["Priority"].value_counts()

Standard     19452
Expedited     3622
Name: Priority, dtype: int64

In [212]:
sort_by_order = sorted(df["Order #"])
sort_by_startdate = sorted(df["Start Date"])

sort_by_order == sort_by_startdate # the order number seems not related to the order of the date
# => not use it to make any assumption => drop

False

In [213]:
df.drop("Order #", axis=1, inplace=True)

In [214]:
# Check if there is any empty cell
missing_data = df.isnull()

# Counting missing value (nan) in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print("missing:", missing_data[column].value_counts())
    print("")    

#There are still some empty cells => what should we do? delete it or

Priority
missing: False    23074
Name: Priority, dtype: int64

Shipper Region3
missing: False    23074
Name: Shipper Region3, dtype: int64

Consignee Region3
missing: False    23072
True         2
Name: Consignee Region3, dtype: int64

Start Date
missing: False    23074
Name: Start Date, dtype: int64

Completion Date
missing: False    23074
Name: Completion Date, dtype: int64

In [215]:
# simply drop whole row with NaN in "Consignee Region3" column
df.dropna(subset=["Consignee Region3"], axis=0, inplace=True)

In [216]:
df

       Priority Shipper Region3 Consignee Region3 Start Date Completion Date
0      Standard          ON2TOR              PQ2S 2019-04-16      2019-04-18
1      Standard          ON2TOR              PQ2S 2019-05-07      2019-05-09
2      Standard          ON2TOR              PQ2S 2019-06-07      2019-06-10
3      Standard          ON2TOR              PQ2S 2019-07-09      2019-07-11
4      Standard          PQ2MON            USMWIA 2020-02-26      2020-03-02
...         ...             ...               ...        ...             ...
23864  Standard          PQ2MON            BC2VAN 2020-06-18      2020-06-22
23865  Standard          PQ2MON            ABNEDM 2020-02-12      2020-02-18
23866  Standard          PQ2MON            ABNEDM 2020-02-12      2020-02-20
23867  Standard          PQ2MON            ABNEDM 2020-02-13      2020-02-18
23868  Standard          PQ2MON             USSES 2021-04-09      2021-04-13

[23072 rows x 5 columns]

In [217]:
# Export to new excel file
df.to_excel("Bison_Transport_Clean_Data.xlsx", index=False, header=True)

# Visualizing Data